body {
    margin: 0;
    padding: 0px;
    font-family: Arial, sans-serif;
    background-color: #e6e6e6;
}
main{
   
}
.container {
    width: 100%;
    max-width: 345px ;
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px;
    background: linear-gradient(160deg, green, rgb(3, 186, 3));
    color: #fff;
}
.header {
    text-align: center;
    margin-bottom: 20px;
}
.header h2 {
    margin: 0;
    font-size: 24px;
}
.header p {
    margin: 0;
    font-size: 14px;
    opacity: 0.8;

}
.search-bar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.search-bar input {
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    border: none;
}
.categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.category {
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    height: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.category img {
    width: 40px;
    margin-bottom: 10px;
}
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background: #fff;
    border-top: 1px solid #ddd;
    border-radius: 0 0 20px 20px;
}
.navbar a {
    color: green;
    text-decoration: none;
    font-size: 14px;
}
