body{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: green;
        height: 100vh;
        font-family: sans-serif;
       }
       .background{
        
        text-align: center;
        
       }
       main_card{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 15px;
        height: 700px;
        
       }
       .card h2{
        font-weight: bold;
        font-size: 26px;
        color: black;
        padding: 2px;
       }
       .card{
        padding: 40px;
        background-color: white;
        border-radius: 20px;
        height: 300px;
        width: 270px;
        opacity: 90%;
        margin-left: 20px;
       }
       .card p{
        font-size: 18px;
        color: black;
        margin-bottom: 40px;
        margin-top: 40px;
        opacity: 60%;
       }
       .image img{
        width: 350px;
        margin-bottom: 150px;
       }
       .button{
        background-color: green;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 10px;
        font-size: 18px;
        color: white;
       }
